/*****************************   
beyondskins.Responsive - Diazo responsive theme for PLone
Simples Consultoria - www.simplesconsultoria.com.br
******************************/
/* reset */
* {margin:0; padding:0; list-style:none; vertical-align:baseline;}

/************** Responsive Diazo Magic ************************/

/* Background images */
body {background: #f5f5f5;}
#header {background: #f5f5f5;}

/* Colors and fonts */
body {color: #f5f5f5; font-family: Helvetica, Arial, sans-serif; font-size: 62.5%;}
a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link, dl.portlet a:visited, dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:hover, dd a:link {color:#000000; border-bottom: 0.1em solid #c00016;}
li a:link {color:#000000; border-bottom: 0.1em solid #C00016;}
#content a:hover,
dl.portlet a:hover {
    color: #C00016 !important; /* This one gets an !important because it should always activate in the content area, even when state coloring is active */
}
dl.portlet dt {
	background:#C00016;
}
h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif; }
h1 {color: #C00016; font-size: 1em;}
h2, h3, h4, h5, h6 {color: #000000; font-size: 1em;}
#wrapper { width:auto; margin: 0 auto; max-width: 90%;	font-size: 1.1em;}
#main {background:#f5f5f5; font-size: 1.3em; padding: 1em 0;}

#nav {background: #C00016;	text-align: left; color: #ffffff;}
#nav a {color: #ffffff;}
#nav a:hover, #nav li.selected a {padding-top: 1em;background: #ff9900;}

#content h1.documentFirstHeading {
    margin-top: 0px;
    text-align: center;
    font-size: 130%;
}
#portal-searchbox #searchGadget {
border-width: 1px;
border-style: solid;
border-color: #b7b7b7;
}
#portal-searchbox .searchButton {
background:#636466;
color: #ffffff;
border-width: 1px;
border-style: solid;
border-color: #c8c8c9;
}
#footer {background: #205C90; color: #fff; font-size:110%;}
#footer a:link {color:#fff;;}
#footer a:hover {color:#fff;;}
#footer a:visited {color:#fff;;}

#portal-footer > p {
font-size: 140%;
text-align:center;
}


/****************** Basic Stuff ***********************/
#content .documentDescription, #content #description{
	color:#000000;
}
#content {font-size: 90%; line-height:1.5em; color:#000000;}
p {line-height: 1.5em; margin: 0 0 1em 0;}
#content p, #content table, #content dl, dl.portlet p, dl.portlet, div.overlay p, #content-history div.historyRecord {
    margin-bottom: 1em;
}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}

/*content action menus*/
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #75ad0a;
    color: White;
    z-index: 5;
    border-bottom: 0.5em solid #75ad0a;
} 

/*header*/
#header {background-size:100% auto;	position:relative;}
#logo {margin-left:auto; margin-right:auto; max-width:90%;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%; border-bottom:none;}
#portal-personaltools {font-size: 1.1em;}
#portal-personaltools a:link, #portal-personaltools a:visited {
	color:#fff;
	border-bottom: none;
}
#portal-personaltools dd a:hover {
    background: #CCCCCC;
    color: White;
}
#portal-breadcrumbs {
	color:#000000;
}
#portal-breadcrumbs a {
	color:#C00016;
}
/* navigation */
/* #nav {padding: 1em 2em 1em 0;	font-size: 1.2em;}
#nav ul {padding-top: 0; background:#C00006; color: #ffffff; border-bottom:1 px solid #FF9900;}
#nav li {display: inline;}
#nav a {	padding: 1.1em 2em 1em 2em; text-decoration: none; border-bottom:none;} */
#searchbt, #nav #seletor {display:none;}

#portal-globalnav {
  list-style-image:none;
  clear: both;
 font-size: 100%;
  background: #C00016;
      /* ensure top navigation dont touches portlets, content etc.. #10491 */
  margin: 1em 0 1em 0;
  }
#portal-globalnav li a {
  	background:#C00016;
	color:#fff;
	max-width:80px;
	vertical-align: bottom;
	height: 60px;
	white-space: normal;
	/* TODO: Once we have removed the whitespace from the nav template, this can be put back; */
	/* border-bottom: 0.1em solid white; */
	border-right: 0.1em solid white;
}

#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: #C00016;
    color: #fff;
}
/*#portal-globalnav .selected a:hover {
    color: #FF9900; 
} */
#portal-globalnav a:link, a:visited {
	font-size: 120%;
	text-align: center;
	font-weight: 400;
	border-bottom: none;
	color: #FFF;
	background: #C00016;
}

/* Searchbox */
#portal-searchbox {float: left; margin: -1% 1% 0 0; width:24%; font-size: 1em;}
#portal-searchbox  form, #portal-searchbox  form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
	padding: 1.2% 0  1.1% 0;
	margin-right: 0.6%;
	text-indent: 2%;
	width: 72%;
	font-size:1.1em;
}
#portal-searchbox .searchButton {font-size:0.8em; width: 27%; padding:1.899% 0  0.8% 0; text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;}

/*footer*/
#footer {clear: left; padding: 2em;}

/* Site Actions */
#portal-siteactions {font-size: 100%; margin-left: auto; margin-right:auto;}

#portal-siteactions a:link, #portal-siteactions a:visited {
	color:#000000;
	border-bottom: none;
}
#portal-siteactions a:hover {
	color:#C00016;
}
@media screen {

/* DropDown Menu Styles */
* html body {
  behavior:url("/@@csshover.htc");
  }
#portal-top {
  z-index:1;
  }
#portal-searchbox {
  position:relative;
  z-index:2;
  }

/*---------- BASIC STYLE one level ----------*/
#portal-globalnav {
  list-style-image:none;
  }
* html #portal-globalnav {
  position:relative;
  zoom:1;
  }
#portal-globalnav:after {
  content:"";
  clear:both;
  display:block;
  visibility:hidden;
  }
#portal-globalnav li {
  display:block;
  float:left;
  position:relative;
  }
#portal-globalnav li a {
  display:block;
  line-height:2em;
  padding:1px 1em 21px;
  }
#portal-globalnav li.selected a {
  background-color:#C00016;
  color:#fff;
  }
#portal-globalnav li a span {
  cursor:pointer; /* fix ie */
  display:block; /* fix ie */
  line-height: 1.5em;
  white-space: normal;
  }

/*----- DropDown -----*/
#portal-globalnav li ul {
  display:none;
  left:0;
  position:absolute;
  top:100%;
  z-index:1000;
  }
#portal-globalnav li:hover > ul {
  display:block;
  }
#portal-globalnav ul li {
  float:none;
  margin:0;
  }
#portal-globalnav ul li a {
  background-color:#C00016;
  border-top:1px solid #fff;
  height:auto;
  padding:0.5em 1.5em 0.5em 1em;
  vertical-align:top;
  width:12em;
  }
#portal-globalnav li.selected ul li a {
  background-color:#C00016;
  color:#fff;
  }
#portal-globalnav li ul ul {
  top:0;
  left:100%;
  }
#portal-globalnav ul li a.hasChildrens {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#C00016;
  }
#portal-globalnav ul li a.hasChildrens:hover {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#C00016;
  }
#portal-globalnav:hover li:hover > a {
  background-color:#C00016;
  color:#fff;
  }
#portal-globalnav:hover li:hover ul > a {
  background-color:#C00016;
  color:#fff;
  }
#portal-globalnav-mobile {
  display:none;
  }
}

@media (max-width:767px) {
#portal-globalnav.mobileMenuOn {
  display:none;
  }
.mobileMenu {
  background-color: #C00016;
  margin: 0 0 0.5em;
  padding:0.5em;
  }
#portal-globalnav-mobile {
  display:block;
  min-width:150px;
  }
}

@media print {
.mobileMenu {
  display: none;
  }

/* Responsive Design Magic*/

@media screen and (max-width: 768px) {

	#wrapper {max-width: 100%;}
	#logo {min-width:140px;}	
	
	/*Columns*/
	#portal-column-one, 
	#portal-column-two,
	#portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

	/*Search*/
    #portal-searchbox  {display:none;}

	/*Global navigation*/
	#nav {padding:0;width:100%;
	}
	
	#searchbt {display:block; float:right;width:14%;}
	
	#searchbt a {
		display:block;
		text-indent: -900000px;
		padding: 1em;
		margin-top: 4%;
		background:transparent url(search-ico.png) no-repeat center center;
	}
	
	#nav #seletor {
		display:block;
		padding:1em;
		width:80%;
		background:url("sections-ico.png") no-repeat 97% 60%;
	 }
	
	#nav li {display: none;}
	
	#nav:hover li {
		display: block;
		width:100%; 
		border-top:1px solid #ffffff;;
		display:block !Important;
		padding:0;
	}
	
	#nav ul {
		width:97.5%;
		margin:0;
		padding:0;
	}
	
	#nav:hover li a {
		color: #ffffff;;
		width:100%;
		padding:0 2.5%;
		line-height: 3em;
      display: block;
      width: 95% !important;
	}
	
	#nav:hover li:hover {background: #ff9900;}
	#nav:hover li a:hover,
	#nav:hover li.selected a {background: transparent;}
	
.overlay.overlay-ajax {top: 10px !Important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

	#portal-breadcrumbs {display:none;}
	
	#portal-searchbox {
	    float: none;
        width:80%;
		clear:both;
		margin: 0 auto 2%;
}
	}
)